<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571903209511-148mndrc2ct98gdlh1ulqrp4tn5giu5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571903209511-148mndrc2ct98gdlh1ulqrp4tn5giu5u</string>
	<key>API_KEY</key>
	<string>AIzaSyBoBWSiYt4lxOCbk8pE7kcQP8x0T-X4gos</string>
	<key>GCM_SENDER_ID</key>
	<string>571903209511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pockectcheff</string>
	<key>PROJECT_ID</key>
	<string>pocketcheff-dspm</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketcheff-dspm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571903209511:ios:1da5a5d388bc3b462e9e02</string>
</dict>
</plist>